/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
button,
input,
select,
textarea {
  color: #222;
}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}
img {
  vertical-align: middle;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
textarea {
  resize: vertical;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
@font-face {
  font-display: swap;
  src: url("/fonts/Geometric706-Medium.woff") format("woff"), url("/fonts/Geometric706-Medium.woff2") format("woff2");
  font-family: "Geometric706";
  font-style: normal;
  font-weight: 500;
}
.hidden {
  display: none !important;
}
body {
  height: 6000px;
}
.header-wrapper {
  margin: 0 40px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #FF0101;
  height: 89px;
}
.header-burger {
  display: none;
}
.header-logo {
  flex-basis: 160px;
  min-width: 160px;
}
.header-logo img {
  max-width: 100%;
  width: 160px;
  height: 34px;
  position: relative;
  top: 3px;
}
.header-menu {
  flex: 1;
}
.header-menu .menu-wrapper {
  display: flex;
  align-items: center;
  padding-left: 20px;
  flex-direction: row;
}
.header-menu .menu-wrapper a {
  cursor: pointer;
}
.header-menu .menu-wrapper .menu-link {
  font-family: "Geometric706";
  font-style: normal;
  font-weight: bold;
  padding: 35.6px 15.4px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  color: #333;
  text-decoration: none;
  font-size: 0.81em;
  line-height: 1.3846em;
  opacity: 1;
  white-space: nowrap;
}
.header-menu .menu-wrapper .menu-link:hover {
  opacity: 0.5;
}
.header-menu .menu-dropdown-show {
  display: block !important;
}
.header-menu .menu-dropdown {
  height: 100%;
  display: none;
}
.header-menu .menu-dropdown:hover .dropdown-links {
  visibility: visible !important;
  opacity: 1 !important;
  pointer-events: all !important;
}
.header-menu .menu-dropdown .dropdown-wrapper {
  position: relative;
  z-index: 10;
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-icon {
  padding: 43px 15px;
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-icon span {
  content: "";
  width: 15px;
  display: block;
  height: 3px;
  background: #333 url('/img/header_icons.svg') -124px -8px no-repeat;
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-icon:hover span {
  opacity: 0.5;
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-links {
  position: absolute;
  top: 80px;
  right: 0;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  z-index: 11;
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.1);
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-links .links-wrapper {
  max-width: 275px;
  min-width: 230px;
  background: #ffffff;
}
.header-menu .menu-dropdown .dropdown-wrapper .dropdown-links .links-wrapper .menu-link {
  padding: 15px 20px 16px;
  border-top: 1px solid #f5f5f5;
  line-height: 1.42857143;
  font-size: 12px;
  font-weight: 500;
  display: none;
  text-transform: none;
}
.header-actions {
  display: flex;
  align-items: center;
  margin-left: auto;
  min-width: max-content;
}
.header-actions .action-auth .auth-link {
  text-decoration: none;
  text-align: center;
  max-width: 110px;
  position: relative;
  top: 2px;
}
.header-actions .action-auth .auth-link:hover .auth-icon svg {
  opacity: 0.5;
}
.header-actions .action-auth .auth-link .auth-icon svg {
  position: relative;
  left: -1px;
}
.header-actions .action-auth .auth-link .auth-title {
  font-size: 12px;
  line-height: 11px;
  color: #000;
  display: block;
  font-family: "Geometric706";
  font-style: normal;
  font-weight: 500;
  position: relative;
  left: -1px;
}
.header-actions .action-phone {
  padding-left: 19px;
  padding-right: 27px;
}
.header-actions .action-phone .phone-icon {
  display: none;
}
.header-actions .action-phone .phone-link {
  font-size: 1.0666em;
  line-height: 15px;
  color: #333;
  text-decoration: none;
  font-family: "Geometric706";
  font-style: normal;
  font-weight: bold;
  letter-spacing: -0.03em;
  position: relative;
  top: -2px;
}
.header-actions .action-whatsapp {
  padding-left: 8px;
  padding-right: 30px;
}
.header-actions .action-whatsapp .whatsapp-link {
  position: relative;
  top: -4px;
}
.header-actions .action-whatsapp .whatsapp-link svg {
  width: 20px;
  height: 20px;
}
.header-actions .action-whatsapp .whatsapp-link .search-btn {
  cursor: pointer;
}
.header-actions .action-whatsapp .whatsapp-link .search-btn:hover svg {
  opacity: 0.5;
}
.header-actions .action-search {
  padding-right: 10px;
}
.header-actions .action-search .search-btn {
  position: relative;
  top: 0;
}
.header-actions .action-search:hover svg {
  opacity: 0.5;
}
.header-actions .lang-show .lang-list {
  opacity: 1 !important;
  visibility: visible !important;
  pointer-events: all !important;
}
.header-actions .action-lang {
  padding-left: 20px;
}
.header-actions .action-lang .lang-wrapper {
  position: relative;
}
.header-actions .action-lang .lang-wrapper .lang-current {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-right: 11px;
  position: relative;
  top: -4px;
  right: 1px;
}
.header-actions .action-lang .lang-wrapper .lang-current::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -2px;
  width: 5px;
  height: 3px;
  background: url(/img/header_icons.svg) -115px -29px no-repeat;
}
.header-actions .action-lang .lang-wrapper .lang-current .lang-icon {
  position: relative;
  top: -1px;
}
.header-actions .action-lang .lang-wrapper .lang-current .lang-icon img {
  width: 25px;
  height: 24px;
  border-radius: 3px;
}
.header-actions .action-lang .lang-wrapper .lang-current .lang-name {
  height: 100%;
  padding-left: 7px;
}
.header-actions .action-lang .lang-wrapper .lang-current .lang-name span {
  font-size: 13px;
  font-family: "Geometric706";
  font-style: normal;
  font-weight: 500;
  color: #333;
}
.header-actions .action-lang .lang-wrapper .lang-list {
  position: absolute;
  right: -22px;
  top: 32px;
  transition: all 0.4s;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper {
  background: #fff;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);
  max-height: 300px;
  overflow: auto;
  border-radius: 2px;
  padding-left: 17px;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper .list-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 17px 30px 17px 0px;
  border-top: 1px solid #f2f2f2;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper .list-item:nth-child(1) {
  border-top: none;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper .list-item .lang-icon img {
  width: 25px;
  height: 24px;
  border-radius: 3px;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper .list-item .lang-name {
  height: 100%;
  padding-left: 7px;
}
.header-actions .action-lang .lang-wrapper .lang-list .list-wrapper .list-item .lang-name span {
  font-size: 13px;
  font-family: "Geometric706";
  font-style: normal;
  font-weight: 500;
  color: #333;
}
@media screen and (max-width: 1445px) {
  .header-actions .action-auth {
    padding-top: 9px;
  }
  .header-actions .action-phone {
    padding-left: 21px;
    padding-right: 27px;
  }
  .header-actions .action-phone .phone-link {
    font-size: 1em;
  }
}
@media screen and (max-width: 1370px) {
  .header-actions .action-auth {
    padding-top: 9px;
  }
  .header-actions .action-phone {
    padding-left: 18px;
    padding-right: 27px;
  }
  .header-actions .action-phone .phone-link {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 1300px) {
  .header-actions .action-auth {
    padding-top: 3px;
  }
  .header-actions .action-search {
    padding-right: 14px;
  }
  .header-actions .action-phone {
    padding-left: 18px;
    padding-right: 27px;
  }
  .header-actions .action-phone .phone-link {
    font-size: 0.95em;
  }
}
@media screen and (max-width: 993px) {
  .header {
    height: 62px;
  }
  .header-wrapper {
    margin: 0px 21px;
    border-bottom: 0;
    height: 100%;
  }
  .header-burger {
    display: block;
    margin-right: 22px;
  }
  .header-menu {
    display: none;
  }
  .header-actions .action-auth {
    display: none;
  }
  .header-actions .action-phone .phone-link {
    display: none;
  }
  .header-actions .action-phone .phone-icon {
    display: block;
  }
  .header-actions .action-phone .phone-icon svg {
    width: 21px;
    height: 26px;
  }
  .header-actions .action-whatsapp {
    display: none;
  }
  .header-actions .action-search .search-btn svg {
    width: 20px;
    height: 24px;
  }
  .header-actions .action-lang {
    display: none;
  }
}
