@import "reset";

@font-face {
  font-display: swap;
  src: url("/fonts/Geometric706-Medium.woff") format("woff"),
  url("/fonts/Geometric706-Medium.woff2") format("woff2");
  font-family: "Geometric706";
  font-style: normal;
  font-weight: 500;
}

.hidden{
  display: none !important;
}

body{
  height: 6000px;
}
.header{
  &-wrapper{
    margin: 0 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #FF0101;
    height: 89px;
  }
  &-burger{
    display: none;
  }
  &-logo{
    flex-basis: 160px;
    min-width: 160px;
    img{
      max-width: 100%;
      width: 160px;
      height: 34px;
      position: relative;
      top: 3px;
    }
  }
  &-menu{
    flex: 1;
    .menu-wrapper{
      display: flex;
      align-items: center;
      padding-left: 20px;
      flex-direction: row;
      a{
        cursor: pointer;
      }
      .menu-link{
        font-family: "Geometric706";
        font-style: normal;
        font-weight: bold;
        padding: 35.6px 15.4px;
        text-transform: uppercase;
        letter-spacing: 0.8px;
        color: #333;
        text-decoration: none;
        font-size: 0.81em;
        line-height: 1.3846em;
        opacity: 1;
        white-space: nowrap;
        &:hover{
          opacity: 0.5;
        }
      }
    }
    .menu-dropdown-show{
      display: block !important;
    }
    .menu-dropdown{
      height: 100%;
      display: none;
      &:hover{
        .dropdown-links{
          visibility: visible !important;
          opacity: 1 !important;
          pointer-events: all !important;
        }
      }
      .dropdown-wrapper{
        position: relative;
        z-index: 10;
        .dropdown-icon{
          padding: 43px 15px;
          span{
            content: "";
            width: 15px;
            display: block;
            height: 3px;
            background: #333 url('/img/header_icons.svg') -124px -8px no-repeat;
          }
          &:hover{
            span{
              opacity: 0.5;
            }
          }
        }
        .dropdown-links{
          position: absolute;
          top: 80px;
          right: 0;
          pointer-events: none;
          visibility: hidden;
          opacity: 0;
          transition: all 0.4s;
          z-index: 11;
          box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 10%);
          .links-wrapper{
            max-width: 275px;
            min-width: 230px;
            background: #ffffff;
            .menu-link{
              padding: 15px 20px 16px;
              border-top: 1px solid #f5f5f5;
              line-height: 1.428571429;
              font-size: 12px;
              font-weight: 500;
              display: none;
              text-transform: none;
            }
          }
        }
      }
    }
  }
  &-actions{
    display: flex;
    align-items: center;
    margin-left: auto;
    min-width: max-content;
    .action-auth{
      .auth-link{
        text-decoration: none;
        text-align: center;
        max-width: 110px;
        position: relative;
        top: 2px;
        &:hover{
          .auth-icon{
            svg{
              opacity: 0.5;
            }
          }
        }
        .auth-icon{
          svg{
            position: relative;
            left: -1px;
          }
        }
        .auth-title{
          font-size: 12px;
          line-height: 11px;
          color: #000;
          display: block;
          font-family: "Geometric706";
          font-style: normal;
          font-weight: 500;
          position: relative;
          left: -1px;
        }
      }
    }
    .action-phone{
      padding-left: 19px;
      padding-right: 27px;
      .phone-icon{
        display: none;
      }
      .phone-link{
        font-size: 1.0666em;
        line-height: 15px;
        color: #333;
        text-decoration: none;
        font-family: "Geometric706";
        font-style: normal;
        font-weight: bold;
        letter-spacing: -0.03em;
        position: relative;
        top: -2px;
      }
    }
    .action-whatsapp{
      padding-left: 8px;
      padding-right: 30px;
      .whatsapp-link{
        position: relative;
        top: -4px;
        svg{
          width: 20px;
          height: 20px;
        }
        .search-btn{
          cursor: pointer;
          &:hover{
            svg{
              opacity: 0.5;
            }
          }
        }
      }
    }
    .action-search{
      padding-right: 10px;
      .search-btn{
        position: relative;
        top: 0;
      }
      &:hover{
        svg{
          opacity: 0.5;
        }
      }
    }
    .lang-show{
      .lang-list{
        opacity: 1 !important;
        visibility: visible !important;
        pointer-events: all !important;
      }
    }
    .action-lang{
      padding-left: 20px;
      .lang-wrapper{
        position: relative;
        .lang-current{
          display: flex;
          align-items: center;
          cursor: pointer;
          padding-right: 11px;
          position: relative;
          top: -4px;
          right: 1px;
          &::after{
            content: "";
            position: absolute;
            right: 0;
            top: 50%;
            margin-top: -2px;
            width: 5px;
            height: 3px;
            background: url(/img/header_icons.svg) -115px -29px no-repeat;
          }
          .lang-icon{
            position: relative;
            top: -1px;
            img{
              width: 25px;
              height: 24px;
              border-radius: 3px;
            }
          }
          .lang-name{
            height: 100%;
            padding-left: 7px;
            span{
              font-size: 13px;
              font-family: "Geometric706";
              font-style: normal;
              font-weight: 500;
              color: #333;
            }
          }
        }
        .lang-list{
          position: absolute;
          right: -22px;
          top: 32px;
          transition: all 0.4s;
          pointer-events: none;
          opacity: 0;
          visibility: hidden;
          .list-wrapper{
            background: #fff;
            box-shadow: 0px 5px 20px 0px rgba(0 ,0 ,0 ,10%);
            max-height: 300px;
            overflow: auto;
            border-radius: 2px;
            padding-left: 17px;
            .list-item{
              display: flex;
              align-items: center;
              cursor: pointer;
              padding: 17px 30px 17px 0px;
              border-top: 1px solid #f2f2f2;
              &:nth-child(1){
                border-top: none;
              }
              .lang-icon{
                img{
                  width: 25px;
                  height: 24px;
                  border-radius: 3px;
                }
              }
              .lang-name{
                height: 100%;
                padding-left: 7px;
                span{
                  font-size: 13px;
                  font-family: "Geometric706";
                  font-style: normal;
                  font-weight: 500;
                  color: #333;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1445px){
  .header{
    &-actions{
      .action-auth{
        padding-top: 9px;
      }
      .action-phone{
        padding-left: 21px;
        padding-right: 27px;
        .phone-link{
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 1370px){
  .header{
    &-actions{
      .action-auth{
        padding-top: 9px;
      }
      .action-phone{
        padding-left: 18px;
        padding-right: 27px;
        .phone-link{
          font-size: 0.95em;
        }
      }
    }
  }
}

@media screen and (max-width: 1300px){
  .header{
    &-actions{
      .action-auth{
        padding-top:3px;
      }
      .action-search{
        padding-right: 14px;
      }
      .action-phone{
        padding-left: 18px;
        padding-right: 27px;
        .phone-link{
          font-size: 0.95em;
        }
      }
    }
  }
}

@media screen and (max-width: 993px){
  .header{
    height: 62px;
    &-wrapper{
      margin: 0px 21px;
      border-bottom: 0;
      height: 100%;
    }
    &-burger{
      display: block;
      margin-right: 22px;
    }
    &-menu{
      display: none;
    }
    &-actions{
      .action-auth{
        display: none;
      }
      .action-phone{
        .phone-link{
          display: none;
        }
        .phone-icon{
          display: block;
          svg{
            width: 21px;
            height: 26px;
          }
        }
      }
      .action-whatsapp{
        display: none;
      }
      .action-search{
        .search-btn{
          svg{
            width: 20px;
            height: 24px;
          }
        }
      }
      .action-lang{
        display: none;
      }
    }
  }
}